<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>

            <div class="form-group col-md-6" ng-class="{'has-success': form.precio.$valid && form.precio.$dirty, 'has-error': form.precio.$invalid && (form.precio.$dirty || form.$submitted)}" >
                <label for="precio" class="col-md-2 control-label">Precio</label>
                <div class="col-md-10">
                    <input id="precio" name="precio" class="form-control" type="text" ng-model="currentRecord.precio" ng-init="currentRecord.precio" required />
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.cliente.$valid && form.cliente.$dirty, 'has-error': form.cliente.$invalid && (form.cliente.$dirty || form.$submitted)}" >
                <label for="cliente" class="col-md-2 control-label">Cliente</label>
                <div class="col-md-10">
                    <select id="cliente" name="cliente" ng-options="rc.nombre for rc in usuarios track by rc.id" class="form-control" type="text" ng-model="currentRecord.cliente" ></select>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.funcion.$valid && form.funcion.$dirty, 'has-error': form.funcion.$invalid && (form.funcion.$dirty || form.$submitted)}" >
                <label for="funcion" class="col-md-2 control-label">Función</label>
                <div class="col-md-10">
                    <select id="funcion" name="funcion" ng-options="rc.id for rc in funciones track by rc.id" class="form-control" type="text" ng-model="currentRecord.funcion" ></select>
                </div>
            </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='boletasList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
