<div class="container-fluid">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lugar in lugaresRecords">
                    <td id="{{$index}}-name"> {{lugar.nombre}}</td>
                    <td>
                        <button id="{{$index}}-view-btn" class="btn btn-default btn-sm" ui-sref="lugarDetail({lugarId: lugar.id})"><span class="glyphicon glyphicon-eye-open"></span> View</button>
                        <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="lugarEdit({lugarId: lugar.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(lugar.id)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
