<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <!-- Nombre -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>
            </div>
            <!-- Description -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.abierto.$valid && form.abierto.$dirty, 'has-error': form.abierto.$invalid && (form.abierto.$dirty || form.$submitted)}" >
                <label for="abierto" class="col-md-2 control-label">Abierto</label>
                <div class="col-md-10">
                    <input id="abierto" name="abierto" class="form-control" type="text" ng-model="currentRecord.abierto" ng-init="currentRecord.abierto" required />
                </div>
            </div>
            <!-- Image -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.capacidad.$valid && form.capacidad.$dirty, 'has-error': form.capacidad.$invalid && (form.capacidad.$dirty || form.$submitted)}" >
                <label for="capacidad" class="col-md-2 control-label">Capacidad</label>
                <div class="col-md-10">
                    <input id="capacidad" name="capacidad" class="form-control" type="text" ng-model="currentRecord.capacidad" ng-init="currentRecord.capacidad" required />
                </div>
            </div>
            <!-- ISBN -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.capacidadSonido.$valid && form.capacidadSonido.$dirty, 'has-error': form.capacidadSonido.$invalid && (form.capacidadSonido.$dirty || form.$submitted)}" >
                <label for="capacidadSonido" class="col-md-2 control-label">Capacidad Sonido</label>
                <div class="col-md-10">
                    <input id="capacidadSonido" name="capacidadSonido" class="form-control" type="text" ng-model="currentRecord.capacidadSonido" ng-init="currentRecord.capacidadSonido" required />
                </div>
            </div>
            <!-- Description -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.costoPreferencial.$valid && form.costoPreferencial.$dirty, 'has-error': form.costoPreferencial.$invalid && (form.costoPreferencial.$dirty || form.$submitted)}" >
                <label for="costoPreferencial" class="col-md-2 control-label">Costo Preferencial</label>
                <div class="col-md-10">
                    <input id="costoPreferencial" name="costoPreferencial" class="form-control" type="text" ng-model="currentRecord.costoPreferencial" ng-init="currentRecord.costoPreferencial" required />
                </div>
            </div>
            <!-- Description -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.costoEconomico.$valid && form.costoEconomico.$dirty, 'has-error': form.costoEconomico.$invalid && (form.costoEconomico.$dirty || form.$submitted)}" >
                <label for="costoEconomico" class="col-md-2 control-label">Costo Económico</label>
                <div class="col-md-10">
                    <input id="costoEconomico" name="costoEconomico" class="form-control" type="text" ng-model="currentRecord.costoEconomico" ng-init="currentRecord.costoEconomico" required />
                </div>
            </div>
           <!-- Editorial -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.ciudadLugar.$valid && form.ciudadLugar.$dirty, 'has-error': form.ciudadLugar.$invalid && (form.ciudadLugar.$dirty || form.$submitted)}" >
                <label for="ciudadLugar" class="col-md-2 control-label">Ciudad</label>
                <div class="col-md-10">
                    <select id="ciudadLugar" name="ciudadLugar" ng-options="rc.name for rc in ciudades track by rc.id" class="form-control" type="text" ng-model="currentRecord.ciudadLugar" ></select>
                </div>
            </div>
            <!-- Editorial -->
             <div class="form-group col-md-6" ng-class="{'has-success': form.funcionesLugar.$valid && form.funcionesLugar.$dirty, 'has-error': form.funcionesLugar.$invalid && (form.funcionesLugar.$dirty || form.$submitted)}" >
                 <label for="funcionesLugar" class="col-md-2 control-label">Funcion</label>
                 <div class="col-md-10">
                     <select id="funcionesLugar" name="funcionesLugar" ng-options="rc.name for rc in funciones track by rc.id" class="form-control" type="text" ng-model="currentRecord.funcionesLugar" ></select>
                 </div>
             </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='lugaresList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
