<div class="col-md-12 well">
    <form novalidate nombre="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <!-- Nombre -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>
            </div>
            <!-- Trayetoria -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.trayectoria.$valid && form.trayectoria.$dirty, 'has-error': form.trayectoria.$invalid && (form.trayectoria.$dirty || form.$submitted)}" >
                <label for="trayectoria" class="col-md-2 control-label">Trayectoria</label>
                <div class="col-md-10">
                    <input id="trayectoria" name="trayectoria" class="form-control" type="text" ng-model="currentRecord.trayectoria" ng-init="currentRecord.trayectoria" required />
                </div>
            </div>
            <!-- Requerimiento de Sonido -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.requerimientoSonido.$valid && form.requerimientoSonido.$dirty, 'has-error': form.requerimientoSonido.$invalid && (form.requerimientoSonido.$dirty || form.$submitted)}" >
                <label for="requerimientoSonido" class="col-md-2 control-label">Requerimiento de Sonido</label>
                <div class="col-md-10">
                    <input id="requerimientoSonido" name="requerimientoSonido" class="form-control" type="text" ng-model="currentRecord.requerimientoSonido" ng-init="currentRecord.requerimientoSonido" required />
                </div>
            </div>
            <!-- Requerimiento de Capacidad -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.requerimientoCapacidad.$valid && form.requerimientoCapacidad.$dirty, 'has-error': form.requerimientoCapacidad.$invalid && (form.requerimientoCapacidad.$dirty || form.$submitted)}" >
                <label for="requerimientoCapacidad" class="col-md-2 control-label">Requerimiento de Capacidad</label>
                <div class="col-md-10">
                    <input id="requerimientoCapacidad" name="requerimientoCapacidad" class="form-control" type="text" ng-model="currentRecord.requerimientoCapacidad" ng-init="currentRecord.requerimientoCapacidad" required />
                </div>
            </div>

           <!-- Género -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.generoMusico.$valid && form.generoMusico.$dirty, 'has-error': form.generoMusico.$invalid && (form.generoMusico.$dirty || form.$submitted)}" >
                <label for="generoMusico" class="col-md-2 control-label">Género</label>
                <div class="col-md-10">
                    <select id="generoMusico" name="generoMusico" ng-options="rc.nombre for rc in generos track by rc.id" class="form-control" type="text" ng-model="currentRecord.generoMusico" ></select>
                </div>
            </div>
            <!-- Función -->
             <div class="form-group col-md-6" ng-class="{'has-success': form.funcionesMusico.$valid && form.funcionesMusico.$dirty, 'has-error': form.funcionesMusico.$invalid && (form.funcionesMusico.$dirty || form.$submitted)}" >
                 <label for="funcionesMusico" class="col-md-2 control-label">Función</label>
                 <div class="col-md-10">
                     <select id="funcionesMusico" name="funcionesMusico" ng-options="rc.id for rc in funciones track by rc.id" class="form-control" type="text" ng-model="currentRecord.funcionesMusico" ></select>
                 </div>
             </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='musicosList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
