<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <!-- Nombre -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>
            </div>
            <!-- Clave -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.clave.$valid && form.clave.$dirty, 'has-error': form.clave.$invalid && (form.clave.$dirty || form.$submitted)}" >
                <label for="clave" class="col-md-2 control-label">Clave</label>
                <div class="col-md-10">
                    <input id="clave" name="clave" class="form-control" type="text" ng-model="currentRecord.clave" ng-init="currentRecord.clave" required />
                </div>
            </div>
            <!-- Administrador? -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.esAdmin.$valid && form.esAdmin.$dirty, 'has-error': form.esAdmin.$invalid && (form.esAdmin.$dirty || form.$submitted)}" >
                <label for="esAdmin" class="col-md-2 control-label">Administrador?</label>
                <div class="col-md-10">
                    <input id="esAdmin" name="esAdmin" class="form-control" type="text" ng-model="currentRecord.esAdmin" ng-init="currentRecord.esAdmin" required />
                </div>
            </div>
           <!-- Festival -->
            <div class="form-group col-md-6" ng-class="{'has-success': form.festivalesUsuario.$valid && form.festivalesUsuario.$dirty, 'has-error': form.festivalesUsuario.$invalid && (form.festivalesUsuario.$dirty || form.$submitted)}" >
                <label for="festivalesUsuario" class="col-md-2 control-label">Festival</label>
                <div class="col-md-10">
                    <select id="festivalesUsuario" name="festivalesUsuario" ng-options="rc.name for rc in festivales track by rc.id" class="form-control" type="text" ng-model="currentRecord.festivalesUsuario" ></select>
                </div>
            </div>
            <!-- Boleta -->
             <div class="form-group col-md-6" ng-class="{'has-success': form.boletas.$valid && form.boletas.$dirty, 'has-error': form.boletas.$invalid && (form.boletas.$dirty || form.$submitted)}" >
                 <label for="boletas" class="col-md-2 control-label">Boleta</label>
                 <div class="col-md-10">
                     <select id="boletas" name="boletas" ng-options="rc.name for rc in boletas track by rc.id" class="form-control" type="text" ng-model="currentRecord.boletas" ></select>
                 </div>
             </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='usuariosList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
