<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>

            <div class="form-group col-md-6" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.lugaresCiudad.$valid && form.lugaresCiudad.$dirty, 'has-error': form.lugaresCiudad.$invalid && (form.lugaresCiudad.$dirty || form.$submitted)}" >
                <label for="lugaresCiudad" class="col-md-2 control-label">Lugar</label>
                <div class="col-md-10">
                    <select id="lugaresCiudad" name="lugaresCiudad" ng-options="rc.nombre for rc in lugares track by rc.id" class="form-control" type="text" ng-model="currentRecord.lugaresCiudad" ></select>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.festivalesCiudad.$valid && form.festivalesCiudad.$dirty, 'has-error': form.festivalesCiudad.$invalid && (form.festivalesCiudad.$dirty || form.$submitted)}" >
                <label for="festivalesCiudad" class="col-md-2 control-label">Festival</label>
                <div class="col-md-10">
                    <select id="festivalesCiudad" name="festivalesCiudad" ng-options="rc.nombre for rc in festivales track by rc.id" class="form-control" type="text" ng-model="currentRecord.festivalesCiudad" ></select>
                </div>
            </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='ciudadesList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
