<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-6" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.fechaInicio.$valid && form.fechaInicio.$dirty, 'has-error': form.fechaInicio.$invalid && (form.fechaInicio.$dirty || form.$submitted)}" >
                <label for="fechaInicio" class="col-md-2 control-label">Fecha Inicio</label>
                <div class="col-md-10">
                    <input id="fechaInicio" name="fechaInicio" class="form-control" type="text" ng-model="currentRecord.fechaInicio" ng-init="currentRecord.fechaInicio" required />
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.fechaFin.$valid && form.fechaFin.$dirty, 'has-error': form.fechaFin.$invalid && (form.fechaFin.$dirty || form.$submitted)}" >
                <label for="fechaFin" class="col-md-2 control-label">Fecha Fin</label>
                <div class="col-md-10">
                    <input id="fechaFin" name="fechaFin" class="form-control" type="text" ng-model="currentRecord.fechaFin" ng-init="currentRecord.fechaFin" required />
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.adminsFestival.$valid && form.adminsFestival.$dirty, 'has-error': form.adminsFestival.$invalid && (form.adminsFestival.$dirty || form.$submitted)}" >
                <label for="adminsFestival" class="col-md-2 control-label">Administrador</label>
                <div class="col-md-10">
                    <select id="adminsFestival" name="adminsFestival" ng-options="rc.nombre for rc in usuarios track by rc.id" class="form-control" type="text" ng-model="currentRecord.adminsFestival" ></select>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.genero.$valid && form.genero.$dirty, 'has-error': form.genero.$invalid && (form.genero.$dirty || form.$submitted)}" >
                <label for="genero" class="col-md-2 control-label">Género</label>
                <div class="col-md-10">
                    <select id="genero" name="genero" ng-options="rc.nombre for rc in generos track by rc.id" class="form-control" type="text" ng-model="currentRecord.genero" ></select>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.ciudad.$valid && form.ciudad.$dirty, 'has-error': form.ciudad.$invalid && (form.ciudad.$dirty || form.$submitted)}" >
                <label for="ciudad" class="col-md-2 control-label">Ciudad</label>
                <div class="col-md-10">
                    <select id="ciudad" name="ciudad" ng-options="rc.nombre for rc in ciudades track by rc.id" class="form-control" type="text" ng-model="currentRecord.ciudad" ></select>
                </div>
            </div>
            <div class="form-group col-md-6" ng-class="{'has-success': form.funcion.$valid && form.funcion.$dirty, 'has-error': form.funcion.$invalid && (form.funcion.$dirty || form.$submitted)}" >
                <label for="funcion" class="col-md-2 control-label">Función</label>
                <div class="col-md-10">
                    <select id="funcion" name="funcion" ng-options="rc.nombre for rc in funciones track by rc.id" class="form-control" type="text" ng-model="currentRecord.funcion" ></select>
                </div>
            </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='festivalesList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
