<div class="col-md-12 well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>


            <div class="form-group col-md-6" ng-class="{'has-success': form.nombre.$valid && form.nombre.$dirty, 'has-error': form.nombre.$invalid && (form.nombre.$dirty || form.$submitted)}" >
                <label for="nombre" class="col-md-2 control-label">Nombre</label>
                <div class="col-md-10">
                    <input id="nombre" name="nombre" class="form-control" type="text" ng-model="currentRecord.nombre" ng-init="currentRecord.nombre" required />
                </div>
            </div>

            <div class="form-group col-md-6" ng-class="{'has-success': form.festivalesGenero.$valid && form.festivalesGenero.$dirty, 'has-error': form.festivalesGenero.$invalid && (form.festivalesGenero.$dirty || form.$submitted)}" >
                <label for="festivalesGenero" class="col-md-2 control-label">Festival</label>
                <div class="col-md-10">
                    <select id="festivalesGenero" name="festivalesGenero" ng-options="rc.name for rc in festivales track by rc.id" class="form-control" type="text" ng-model="currentRecord.festivalesGenero" ></select>
                </div>
            </div>

             <div class="form-group col-md-6" ng-class="{'has-success': form.musicosGenero.$valid && form.musicosGenero.$dirty, 'has-error': form.musicosGenero.$invalid && (form.musicosGenero.$dirty || form.$submitted)}" >
                 <label for="musicosGenero" class="col-md-2 control-label">Músico</label>
                 <div class="col-md-10">
                     <select id="musicosGenero" name="musicosGenero" ng-options="rc.name for rc in musicos track by rc.id" class="form-control" type="text" ng-model="currentRecord.musicosGenero" ></select>
                 </div>
             </div>

             </fieldset>
            <div class="form-group col-md-12">
                <button type="button" ui-sref='generosList'>Cancel</button>
                <button type="submit" >Save</button>
            </div>

    </form>
</div>
