.mainHeader {
    padding: 10px 21px;
    background-image: url("Tumboleta.png");
}

.mainTitle {
    font-variant: small-caps;
    font-style: italic;
}

.footer {
    height: 59px;
    margin: 0 auto;
    color: black;
    clear: both;
    padding: 2em 2em;
    background: #b3ccff;
    position: relative;
    top: 508px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerTitle {
    font-variant: small-caps;
    font-weight: bold;
}
